# Visual Studio Code workspace
.vscode/

# Rider IDE
.idea/

# Build results
*.dll
*.exe
*.app
*.log
*.db
*.json
*.suo
*.user
*.sdf
*.cache
*.pdb

# VS & dotnet temp folders
.vs/
obj/
bin/
TestResults/
*.csproj.user

# Others
*.vscode/
*.backup.json
*.tmp
*.bak
